SlickTicket.Screenshooter/Web References/wsPutImage/Screenshooter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PutImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Screenshot" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="Filename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PutImageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PutImageSoapIn">
    <wsdl:part name="parameters" element="tns:PutImage" />
  </wsdl:message>
  <wsdl:message name="PutImageSoapOut">
    <wsdl:part name="parameters" element="tns:PutImageResponse" />
  </wsdl:message>
  <wsdl:portType name="ScreenshooterSoap">
    <wsdl:operation name="PutImage">
      <wsdl:input message="tns:PutImageSoapIn" />
      <wsdl:output message="tns:PutImageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScreenshooterSoap" type="tns:ScreenshooterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PutImage">
      <soap:operation soapAction="http://tempuri.org/PutImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ScreenshooterSoap12" type="tns:ScreenshooterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PutImage">
      <soap12:operation soapAction="http://tempuri.org/PutImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Screenshooter">
    <wsdl:port name="ScreenshooterSoap" binding="tns:ScreenshooterSoap">
      <soap:address location="http://tagvw8sw001.thebeecompany.com/Screenshooter.asmx" />
    </wsdl:port>
    <wsdl:port name="ScreenshooterSoap12" binding="tns:ScreenshooterSoap12">
      <soap12:address location="http://tagvw8sw001.thebeecompany.com/Screenshooter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>